extends layout 

block content 
  html
    head
    body
    .header
        h1 GProgress
        p A free tool to track your progress as a golfer
    .navbar
        a.active(href='#') Home
        a(href='#') Link
        a(href='#') Link
        a.right(href='#') Link
    .image-block 
        img.img-fluid(src='images/golf2.jfif')
        img.img-fluid(src='images/golf3.jpg')
        img.img-fluid(src='images/golf1.jfif')
        img.img-fluid(src='images/golf4.jpg')
