extends layout

block content
  html
    head
    body
      header 
        .container
          .logo-container
            h3.logo
              | G
              span Progress
          .nav-btn
            .nav-links
              ul
                li.nav-link
                  a(href="/") Home
                li.nav-link
                  a(href="") Scores 
                    i.fas.fa-caret-down
                  .dropdown 
                    ul
                      li.dropdown-link
                        a(href="new-score") New Score
                      li.dropdown-link
                        a(href="edit-scores") Edit Scores
                      li.dropdown-link
                        a(href="/statistics") Statistics
                      li.dropdown-link
                        a(href="/leaderboard") Leaderboard
                    .arrow 
                li.nav-link
                  a(href="") Courses 
                    i.fas.fa-caret-down
                  .dropdown 
                    ul
                      li.dropdown-link
                        a(href="/courses") Courses Database
                      li.dropdown-link
                        a(href="/reviews") Course Reviews
                      li.dropdown-link
                        a(href="/add-course") Add a Course
                    .arrow 
                li.nav-link
                  a(href="") Other
                    i.fas.fa-caret-down
                  .dropdown 
                    ul
                      li.dropdown-link
                        a(href="/tutorials") Tutorials
                      li.dropdown-link
                        a(href="/contact-us") Contact Us
                    .arrow
            .log-sign 
              a(href="/login").btn.transparent Log in
              a(href="/signup").btn.solid Sign up
      main
        //section
          .overlay
      .hero
        video(autoplay='', loop='', muted='', plays-inline='').back-video
          source(src='videos/golf_video.mp4', type='video/mp4')
          |       Your browser does not support this video type.      
        .content 
          h3.logo
            | G
            span Progress
          p.sub Join now to begin tracking your progress as a golfer.
          .log-sign-two 
              a(href="/login").btn.transparent Log in
              a(href="/signup").btn.solid Sign up
      .features Features
      .grid-container
        .grid-item Track your scores
          .desc Store your scores by inputting the course, date, and score of each round you play.
        .grid-item Know your handicap
          .desc Check the "Statistics" page to see your handicap (updated after every new round).
        .grid-item Charts to track progress
          .desc View charts to see if your scores are improving, how fast you are improving, and even see how well you start and finish rounds.
        .grid-item Compare your scores
          .desc Compare your best scores with other users around the world.
        .grid-item Course reviews
          .desc Enjoy a certain course? Please leave a review to recommend it to other users.
        .grid-item Tutorials
          .desc Go through our tutorials page to tighten up your golfing fundamentals.
      .footer 
