extends layout

block content
  html
    head
    body
      header 
        .container
          .logo-container
            h3.logo
              | G
              span Progress
          .nav-btn
            .nav-links
              ul
                li.nav-link
                  a(href="#") Home
                li.nav-link
                  a(href="#") Scores 
                    i.fas.fa-caret-down
                  .dropdown 
                    ul
                      li.dropdown-link
                        a(href="new-score") New Score
                      li.dropdown-link
                        a(href="edit-scores") Edit Scores
                      li.dropdown-link
                        a(href="#") Statistics
                      li.dropdown-link
                        a(href="#") Leaderboard
                    .arrow 
                li.nav-link
                  a(href="#") Courses 
                    i.fas.fa-caret-down
                  .dropdown 
                    ul
                      li.dropdown-link
                        a(href="#") Courses Database
                      li.dropdown-link
                        a(href="#") Link 2
                      li.dropdown-link
                        a(href="#") Link 3
                      li.dropdown-link
                        a(href="#") Link 4
                    .arrow 
                li.nav-link
                  a(href="#") Other
                    i.fas.fa-caret-down
                  .dropdown 
                    ul
                      li.dropdown-link
                        a(href="#") Tutorials
                      li.dropdown-link
                        a(href="#") Contact Us
                      li.dropdown-link
                        a(href="#") Link 3
                      li.dropdown-link
                        a(href="#") Link 4
                    .arrow
            .log-sign 
              a.btn.transparent Log in
              a.btn.solid Sign up
      main
        //section
          .overlay
      .hero
        video(autoplay='', loop='', muted='', plays-inline='').back-video
          source(src='videos/golf_video.mp4', type='video/mp4')
          |       Your browser does not support this video type.      
        .content 
          h3.logo
            | G
            span Progress
          p.sub Join now to begin tracking your progress as a golfer.
          .log-sign-two 
              a.btn.transparent Log in
              a.btn.solid Sign up
      .features Features
      .grid-container
        .grid-item Track your scores
          .desc Store your rounds by inputting the course, date, and score of each round played on the "New Scores" page. Editing past rounds is available too at "Edit Scores".
        .grid-item Know your handicap
          .desc Know your handicap by checking the automatically updated "Statistics" page.
        .grid-item Charts to track progress
          .desc Check "Statistics" to view charts that show progress from all your rounds that have been submitted.
        .grid-item Compare your scores
          .desc feature description here
        .grid-item Course reviews
          .desc feature description here
        .grid-item Other
          .desc feature description here
      .footer 
