extends layout

block content
  html
  head
  body
    .header
      .logo 
        img.logo(src='images/logo.jpeg')
      //h1 GProgress
      //p A free tool to track your progress as a golfer
    .navbar
      a(href='#') Other
      a(href='#') Courses
      a(href='#') Scores
      a(href='#') Login
      a.active(href='/') Home
    .image-block 
      img.img-fluid(src='images/golf2.jfif')
      img.img-fluid(src='images/golf3.jpg')
      img.img-fluid(src='images/golf1.jfif')
      img.img-fluid(src='images/golf4.jpg')
    .footer
      h2 Footer
