extends layout

block content
  html
  head
  body
    .header
      .logo
        a(href='/') 
          img.logo(src='images/logo.jpeg')
      //h1 GProgress
      //p A free tool to track your progress as a golfer
    .navbar
      .login
        a(href='#') Login
      .dropdown
        button.dropbtn Dropdown
        .dropdown-content
          a(href='#') Link 1
          a(href='#') Link 2
          a(href='#') Link 3

      .dropdown
        button.dropbtn Dropdown
        .dropdown-content
          a(href='#') Link 1
          a(href='#') Link 2
          a(href='#') Link 3

      .dropdown
        button.dropbtn Dropdown
        .dropdown-content
          a(href='#') Link 1
          a(href='#') Link 2
          a(href='#') Link 3

      .dropdown
        button.dropbtn Dropdown
        .dropdown-content
          a(href='#') Link 1
          a(href='#') Link 2
          a(href='#') Link 3
    
    .grid 
      img.img-fluid(src='images/golf2.jfif')
      img.img-fluid(src='images/golf3.jpg')
      img.img-fluid(src='images/golf1.jfif')
      img.img-fluid(src='images/golf4.jpg')
      img.img-fluid(src='images/golf2.jfif')
      img.img-fluid(src='images/golf3.jpg')
      img.img-fluid(src='images/golf1.jfif')
      img.img-fluid(src='images/golf4.jpg')

    
    //.image-block 
      img.img-fluid(src='images/golf2.jfif')
      img.img-fluid(src='images/golf3.jpg')
      img.img-fluid(src='images/golf1.jfif')
      img.img-fluid(src='images/golf4.jpg')
    .footer
      h2 Footer
