extends layout

block content
  html
  head
  body
    .header
      .logo 
        img.logo(src='images/logo.jpeg')
      //h1 GProgress
      //p A free tool to track your progress as a golfer
    .navbar
      a(href='#') Other
      a(href='#') Courses
      a(href='#') Scores
      a(href='#') Login
      a.active(href='/') Home
    .image-block 
      img.img-fluid(src='images/golf2.jfif')
      img.img-fluid(src='images/golf3.jpg')
      img.img-fluid(src='images/golf1.jfif')
      img.img-fluid(src='images/golf4.jpg')
    .row
      .side
        h2 About Me
        h5 Photo of me:
        .fakeimg(style='height:200px;') Image
        p Some text about me in culpa qui officia deserunt mollit anim..
        h3 More Text
        p Lorem ipsum dolor sit ame.
        .fakeimg(style='height:60px;') Image
        br
        .fakeimg(style='height:60px;') Image
        br
        .fakeimg(style='height:60px;') Image
      .main
        h2 TITLE HEADING
        h5 Title description, Dec 7, 2017
        .fakeimg(style='height:200px;') Image
        p Some text..
        p
          | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        br
        h2 TITLE HEADING
        h5 Title description, Sep 2, 2017
        .fakeimg(style='height:200px;') Image
        p Some text..
        p
          | Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
    .footer
      h2 Footer
