extends layout

block content
  html
    head
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        .login
            h1 Login 
            form
                label Email
                input(type="email", placeholder="")
                label Password
                input(type="password", placeholder="")
                input(type="button", value="Submit")
        p.para2
            | Not have an account? 
            a(href="/signup") Sign Up Here